<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hihusky.livedatademo">
    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/Theme.AppCompat"
            android:label="ViewModel Demo"
    >
        <activity
                android:name="com.hihusky.livedatademo.com.hihusky.viewmodeldemo.ui.MainActivity"
                android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>